/* mouse 스크롤다운 아이콘 애니메이션 */
@keyframes up_down {
    0% {margin-top:10px;}
    90% {margin-top:16px;}
    100% {margin-top:16px;}
}
@keyframes wheel_opa {
    0% {opacity:1;}
    90% {opacity:0;}
    100% {opacity:0;}
}
@keyframes opa {
    0% {opacity:1;}
    100% {opacity:0;}
}