/* cart header 디자인 수정 */
header .logo a img, header .lnb > a {filter:invert(0);}
header nav .gnb > li > a {color:#282828;}
header nav .gnb > li > a::after {background-color:#282828;}
/* main */
main {background-color:#FDFBF4; height:100vh; padding:0 140px;}
main .cart {display:flex; flex-flow:column nowrap;}
main .cart > h1 {
    margin-top:224px;
    font-size:1.5rem; font-weight:700; letter-spacing:0.2px;
    align-items:center; line-height:60px;
}
main .cart > p {line-height:56px; font-weight:500; color:#5f5f5f;}
main .cart > .cart_list {}
main .cart > .cart_list .info {
    display:flex; align-items:center;
    border-top:1px solid #E0E0E0; border-bottom:1px solid #E0E0E0;
}
main .cart > .cart_list .info li {
    font-size:1.125rem; letter-spacing:0.2px; color:#797979;
    line-height:53px; text-align:center;
    width:calc(50% / 3);
}
main .cart > .cart_list .info li:first-child {width:50%;}
main .cart > .cart_list .cart_contents {
    height:240px; width:100%; border-bottom:1px solid #E0E0E0;
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
}
main .cart > .cart_list .cart_contents > p {font-weight:300; color:#797979; margin-bottom:24px;}
main .cart > .cart_list .cart_contents > a {
    background-color:#5f5f5f; line-height:44px; padding:0 20px;
    color:#fff;
}