body {background-color:#FDFBF4; overflow-x:hidden;}
/* ---------- header ---------- */
header {width:100vw; position:fixed; z-index:999999; padding:40px 70px;}
header .logo {position:absolute; left:70px; top:40px;}
header .logo a {}
header .logo a img {filter:invert(1); width:100%;}
/* header-nav */
header > nav {text-align:center;}
header > nav > .gnb > li > a > img {display:none;}
header > nav .gnb {
    display:inline-flex; margin-top:13px;
    justify-content:space-between; height:max-content;
}
/* nav의 메인 카테고리 */
header > nav > .gnb > li {}
header > nav .gnb > li > a {font-weight:700; margin-right:100px; color:#fff;
    padding:10px 5px; display:inline-block; text-align:center;
}
header > nav > .gnb > li > a::after {
    content:''; display:inline-block; width:0; height:2px; background-color:#fff;
    transition:width 0.5s;
}
header > nav > .gnb > li > a:hover::after {width:100%;}
header > nav > .gnb > li > a:last-child {margin-right:0;}
header > nav > .gnb > li .sub {display:none;}
header .lnb {position:absolute; right:70px; top:52px; display:flex; align-items:center;}
header .lnb > a {margin-right:24px; filter:invert(1); transition:opacity 0.3s;}
header .lnb > .search:hover, header .lnb > .cart:hover, header .lnb > .login:hover {opacity:0.5;}
/* ------- js addClass ------- */
header nav .gnb > li > a.active::after {
    background-color:#282828; /* 변경된 배경색 */
}
header .lnb > a.invert {filter:invert(0);}
header .lnb .m_nav a img.invert {filter:invert(1);}
header .logo > a > img.invert {filter:invert(0);}
/* 언어 선택 양식 */
header .lnb .lang::after {
    content:''; display:inline-block; background-repeat:no-repeat;
    background-image:url(../images/arrow_drop_down_icn.svg);
    width:30px; height:30px; background-size:cover;
}
header .lnb .lang_opt {position:absolute; z-index:999; top:40px; right:24px; display:none; flex-flow:column nowrap;}
header .lnb .lang_opt.on {display:flex;}
header .lnb .lang_opt > a {font-size:0.875rem; color:#5f5f5f; padding:10px 0; background-color:#fff;
    border:1px solid #e0e0e0; transition:background-color 0.5s; width:110px; text-align:center;
}
header .lnb .lang_opt > a:hover {background-color:#ECECEC;}

header .lnb .m_nav {display:none;}
/* header gnb search 클릭 시 나오는 검색창 */
header .search_container {
    display:none;
    position:absolute; left:0; top:0; z-index:999; text-align:center;
    width:100vw; height:100vh; background-color:#485131;
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
    transform:translateY(-100vh); transition:transform 1s ease-in-out, opacity 1s ease-in-out; opacity:0;
}
header .search_container .close {
    position:absolute; right:40px; top:40px;
}
header .search_container > h1 {filter:invert(1);}
header .search_container #search_frm {}
header .search_container #search_frm .search_wrap {}
header .search_container #search_frm .search_wrap input[name^=scent] {
    background-color:transparent; border:0; outline:0;
    line-height:78px; width:810px; padding:0 16px; border-bottom:2px solid #B9B9B9;
    background-image:url(../images/scent_search_icn.svg); background-repeat:no-repeat;
    background-position:right center; background-position-x:calc(100% - 20px);
    font-size:1.5rem; letter-spacing:0.2px; color:#fff; margin:46px 0 80px;
}
header .search_container #search_frm .search_wrap input[name^=scent]::placeholder {
    font-size:1.5rem; letter-spacing:0.2px; color:#9d9d9d;
}
header .search_container .rec-slide {
    width:810px; overflow:hidden; margin:0 auto;
}
header .search_container .rec-slide .swiper-slide {width:500px;}
header .search_container .rec-slide .swiper-slide .rec_wrap {
    text-align:left; width:500px; color:#fff;
}
header .search_container .rec-slide .swiper-slide .rec_wrap h2 {font-size:1.125rem; font-weight:700; letter-spacing:0.2px;}
header .search_container .rec-slide .swiper-slide .rec_wrap .hashtag {margin:16px 0 24px;}
header .search_container .rec-slide .swiper-slide .rec_wrap .hashtag > a {font-weight:500; color:#fff; line-height:1.5; transition:opacity 0.2s;}
header .search_container .rec-slide .swiper-slide .rec_wrap .hashtag > a:hover {opacity:0.6;}
header .search_container .rec-slide .swiper-slide .rec_wrap > p {font-weight:200; font-size:0.875rem; letter-spacing:0.2px; line-height:1.7; color:#D9D9D9;}
/* pagination css */
header .search_container .rec-slide .swiper-wrapper {margin-bottom:50px;}
.rec-slide .swiper-pagination {}
.rec-slide .swiper-pagination .swiper-pagination-bullet {
    background:#fff;
}
.rec-slide .swiper-pagination .swiper-pagination-bullet-active {
    background:#fff;
}

/* m_nav 디자인 */
.m_nav .m_nav_wrap {
    height:100vh; position:fixed; right:0; top:0; z-index:55555;
    width:70vw; background:#FDFBF4; padding:38px 20px 50px; text-align:right;
}
.m_nav .m_nav_wrap .close {filter:invert(1);}
.m_nav .m_nav_wrap .close img {width:24px;}
.m_nav .m_nav_wrap .m_lnb {display:flex; justify-content:center; align-items:flex-end;  padding:24px 0; border-bottom:1px solid #E0E0E0;}
.m_nav .m_nav_wrap .m_lnb > a {
    display:flex; flex-flow:column nowrap; align-items:center;
    width:calc(100% / 3); transition:opacity 0.3s;
}
.m_nav .m_nav_wrap .m_lnb > a:hover {opacity:0.6;}
.m_nav .m_nav_wrap .m_lnb > a > span {margin-top:10px; font-size:0.875rem;}
/* m_nav - nav */
.m_nav .m_nav_wrap .m_nav_lnb > nav {text-align:left; margin-top:46px;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb {display:flex; flex-flow:column nowrap; align-items:start;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li {width:100%; border-bottom:1px solid #e0e0e0;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li > a {
    font-size:1.125rem; font-weight:700; line-height:45px; width:100%; display:flex;
    align-items:center; justify-content:space-between;
}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li > a > img {width:18px;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li .sub {padding-left:10px;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li .sub > li {margin-top:16px;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li .sub > li:last-child {padding-bottom:16px;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li .sub > li > a {color:#9D9D9D; display:inline-block; transition:filter 0.3s;}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li .sub > li > a:hover {filter:brightness(1.2);}
.m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li:first-child .sub > li:last-child {border-top:1px solid #E0E0E0; padding-top:16px; padding-left:0; display:inline-block;}
/* m_nav - link & contact_lang */
.m_nav .m_nav_wrap .contact_lang {
    text-align:left; position:absolute; left:20px; bottom:50px; display:flex; justify-content:space-between; align-items:flex-end;
    width:calc(100% - 40px);
}
.m_nav .m_nav_wrap .link {
    position:absolute; left:20px; bottom:100px;
}

.m_nav .m_nav_wrap .link > a:first-child {margin-right:10px;}
.m_nav .m_nav_wrap .contact_lang .contact p {font-size:0.875rem; font-weight:500; color:#5F5F5F; margin-right:6px;}
.m_nav .m_nav_wrap .contact_lang .contact > div {display:flex; align-items:center;}
.m_nav .m_nav_wrap .contact_lang .contact .mail {margin-bottom:10px;}
.m_nav .m_nav_wrap .contact_lang .contact a:hover {filter:brightness(1.5);}
.m_nav .m_nav_wrap .contact_lang .contact a {font-weight:300; color:#5F5F5F; font-size:0.875rem; transition:filter 0.3s;}
/* m_nav 어두운 배경 디자인 */
.m_nav .m_nav_bg {
    width:100vw; height:100vh; position:fixed; background-color:rgba(0, 0, 0, 0.5); left:0; top:0; z-index:10;
}

/* ---------- footer ---------- */
footer {height:212px !important; max-width:1780px; margin:0 auto; display:flex; flex-flow:column nowrap;}
footer .footer_wrap {
    padding:40px 0; border-top:1px solid #e0e0e0; display:flex; flex-flow:column nowrap;
}
footer .footer_wrap .top {
    display:flex; justify-content:space-between; align-items:flex-start;
    max-width:1780px;
}
footer .top .slogan {display:flex; align-items:flex-start;}
footer .top .slogan h2 {font-size:0.875rem; color:#282828; line-height:1.7; margin-right:60px;}
footer .top .slogan p {font-size:0.75rem; letter-spacing:-0.2px; line-height:2.0; color:#5F5F5F;}
footer .top .link a {margin-left:16px; transition:filter 0.5s;}
footer .top .link a:first-child {margin-left:0;}
footer .top .link a:hover {filter:brightness(50%);}
footer .top .link a img {}
footer .btm {color:#282828; display:flex; align-items:center;  max-width:1780px; margin-top:40px;}
footer .btm a {font-size:0.625rem; font-weight:700; margin-right:6px;}
footer .btm p {font-size:0.625rem; margin-right:6px;}
footer .btm p em {font-size:0.625rem; font-weight:500; margin-right:3px;}