body {
    background-image:url(../images/login_bg.jpg); background-repeat:no-repeat;
    background-position:auto; background-size: cover;
}
main {height:100vh; display:flex; justify-content:center; align-items:center; text-align:center;}
/* footer 개별 디자인 */
footer .footer_wrap {border-color:#5f5f5f;}
footer .top .slogan h2, footer .btm, footer .btm a {color:#B3B3B3;}
footer .top .slogan p {color:#E2DFDF;}
footer .top .link a {filter:invert(1) brightness(150%);}
footer .top .link a:hover {filter:invert(1) brightness(120%);}
/* main - login */
main .login {
    display:flex; flex-flow:column nowrap; justify-content:center;
    background-color:rgba(255, 255, 255, 0.3);
    padding:46px 36px; width:478px;
}
main .login > h2 {font-size:3rem; font-weight:700; color:#000;}
main .login > p {font-size:0.875rem; margin:22px 0 15px;}
main .login .member_option {display:flex;}
main .login .member_option > a {
    line-height:45px; border-bottom:2px solid #000;
    font-weight:700; width:50%;
}
main .login .member_option > a:last-child {color:#fff; border-color:#fff; font-weight:500;}
/* login_frm */
main .login #member_login_frm {}
main .login #member_login_frm .login_wrap {}
main .login #member_login_frm .login_wrap .id_pw {display:flex; flex-flow:column nowrap; margin-top:24px;}
main .login #member_login_frm .login_wrap .id_pw input[name^=user] {
    outline:0; border:1px solid #e0e0e0; line-height:41px;
    font-size:0.875rem; font-weight:500; padding:0 16px;
}
main .login #member_login_frm .login_wrap .login_keep_find {
    margin:21px 0; display:flex; justify-content:space-between; align-items:center;
}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep input[name=keep] {display:none;}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep label[for^=keep] {
    background-image:url(../images/unchecked.svg); height:19px; background-size:19px;
    background-repeat:no-repeat; display:inline-block; padding-right:16px;
}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep input[name=keep]:checked + label {
    background-image:url(../images/checked.svg);
}
main .login #member_login_frm .login_wrap .login_keep_find .login_find > a,
main .login #member_login_frm .login_wrap .login_keep_find .login_keep span {color:#fff; font-size:0.75rem; font-weight:500; padding-left:26px;}
/* 로그인 버튼 */
main .login #member_login_frm .join_login {display:flex; flex-flow:column nowrap; justify-content:center;}
main .login #member_login_frm .join_login button {line-height:45px; border:0; font-weight:700;}
main .login #member_login_frm .join_login .login_btn {color:#5f5f5f;}
main .login #member_login_frm .join_login .join_btn {margin:8px 0 46px; background-color:#959595; color:#fff;}
main .login #member_login_frm .join_login .kakao_btn {background-color:#FAE300; color:#391B1B;}

/* checkbox 베이스 */
/* main #join_frm .user_agree .agree_check li label[for*=agree] {
    background-image:url(../images/today_unchecked.svg);
    background-repeat:no-repeat; display:inline-block;
    padding:2px 0 3px 25px;
} */
/* checkbox 활성화한 경우 */
/* main #join_frm .user_agree .agree_check li input[name=agree]:checked + label {
    background-image:url(../images/today_checked.svg);
}
 */