header {position:sticky; height:134px;}
body {
    background-image:url(../images/login_bg.jpg); background-repeat:no-repeat;
    background-position:center; background-size: cover;
}
/* main - login */
main {display:flex; justify-content:center; align-items:center; text-align:center;}
main .login {
    margin:50px 0 130px;
    display:flex; flex-flow:column nowrap; justify-content:flex-start; align-items:center;
    background-color:rgba(255, 255, 255, 0.35);
    padding:46px 36px; width:478px; height:605px;
}
main .login > h2 {font-size:3rem; font-weight:700; color:#000;}
main .login > p {font-size:0.875rem; margin:22px 0 15px; font-weight:500; line-height:1.5; word-break:keep-all;}
main .login .member_option {display:flex; width:100%;}
main .login .member_option > a {
    line-height:45px; border-bottom:2px solid #000;
    font-weight:700; width:50%;
}
main .login .member_option > a:last-child {color:#fff; border-color:#fff; font-weight:700;}
/* login_frm-회원 */
main .login #member_login_frm {width:100%;}
main .login #member_login_frm .login_wrap {}
main .login #member_login_frm .login_wrap .id_pw {display:flex; flex-flow:column nowrap; margin-top:24px;}
main .login #member_login_frm .login_wrap .id_pw input[name^=user] {
    outline:0; border:1px solid #e0e0e0; line-height:41px;
    font-size:0.875rem; font-weight:500; padding:0 16px;
}
main .login #member_login_frm .login_wrap .login_keep_find {
    margin:21px 0; display:flex; justify-content:space-between; align-items:center;
}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep input[name=keep] {display:none;}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep label[for^=keep] {
    background-image:url(../images/unchecked.svg); height:19px; background-size:19px;
    background-repeat:no-repeat; display:inline-block; padding-right:16px;
}
main .login #member_login_frm .login_wrap .login_keep_find .login_keep input[name=keep]:checked + label {
    background-image:url(../images/checked.svg);
}
main .login #member_login_frm .login_wrap .login_keep_find .login_find > a,
main .login #member_login_frm .login_wrap .login_keep_find .login_keep span {color:#fff; font-size:0.75rem; font-weight:500; padding-left:26px;}
/* 아이디,비밀번호 찾기 사이 구별라인 */
main .login #member_login_frm .login_wrap .login_keep_find .login_find > a:first-child {display:inline-flex; align-items:center; padding-left:0;}
main .login #member_login_frm .login_wrap .login_keep_find .login_find > a:last-child {padding-left:8px;}
main .login #member_login_frm .login_wrap .login_keep_find .login_find > a:first-child::after {
    content:''; display:inline-block;
    width:2px; height:10px; background-color:#fff; margin-left:13px;
}
/* 로그인 버튼 */
main .login #member_login_frm .join_login {display:flex; flex-flow:column nowrap; justify-content:center;}
main .login #member_login_frm .join_login button {line-height:45px; border:0; font-weight:700;}
main .login #member_login_frm .join_login .login_btn {color:#5f5f5f;}
main .login #member_login_frm .join_login .join_btn {
    margin:8px 0 46px; background-color:#959595; color:#fff;
    line-height:45px; border:0; font-weight:700;
}
main .login #member_login_frm .join_login .kakao_btn {
    background-color:#FAE300; color:#391B1B;
    display:inline-flex; justify-content:center; align-items:center;
}
main .login #member_login_frm .join_login .kakao_btn::before {
    content:''; display:inline-block;
    width:18px; height:18px; background-image:url(../images/kakao.svg);
    background-repeat:no-repeat; background-size:cover; margin-right:10px;
}
/* login_frm-비회원 */
main .login #nonmember_login_frm {display:none; text-align:left; width:100%;}
main .login #nonmember_login_frm .login_wrap {}
main .login #nonmember_login_frm .login_wrap .order_phone {margin:24px 0 46px;}
main .login #nonmember_login_frm .login_wrap .order_phone .order {margin-bottom:16px;}
main .login #nonmember_login_frm .login_wrap .order_phone p {font-size:0.75rem; font-weight:500; margin-bottom:8px;}
main .login #nonmember_login_frm .login_wrap .order_phone input[name^=user] {
    outline:0; border:1px solid #e0e0e0; line-height:41px; width:100%;
    font-size:0.875rem; font-weight:500; padding:0 16px;
}
main .login #nonmember_login_frm .order_check_join {display:flex; flex-flow:column nowrap; align-items:center;}
main .login #nonmember_login_frm .order_check_join .order_check_btn {line-height:45px; border:0; font-weight:700; color:#5f5f5f; width:100%;}
main .login #nonmember_login_frm .order_check_join .join_btn {
    background-color:#959595; color:#fff; margin:8px 0 53px;
    line-height:45px; font-weight:600; width:100%; text-align:center;
}
main .login #nonmember_login_frm > p {font-size:0.75rem; color:#fff; text-align:center; line-height:1.5;}
main .login #nonmember_login_frm > p > a {font-size:0.75rem; color:#fff; font-weight:500; text-decoration: underline;}

/* footer 개별 디자인 */
footer .footer_wrap {border-color:#5f5f5f;}
footer .top .slogan h2, footer .btm, footer .btm a {color:#B3B3B3;}
footer .top .slogan p {color:#E2DFDF;}
footer .top .link a {filter:invert(1) brightness(150%);}
footer .top .link a:hover {filter:invert(1) brightness(120%);}