/* ------------------- width 1640px ------------------- */
@media screen and (max-width:1640px){
    main .shop .shop_wrap, main .store .store_wrap, main .journal .journal_wrap,
    main .footer, footer,
    main .shop_container, main .store_container, main .journal_container, main .wallpaper_container {padding:0 70px;}
    main .journal .journal_wrap .journal_contents .j_main {width:40%;}
    main .journal .journal_wrap .journal_contents .sub-journal-slide {width:55%;}
    /* sub-store */
    main .store_container .store_type li .store_category > a {margin-right:50px;}
    /* sub-journal */
    main .journal_container .journal_pagination {width:calc(100% - 140px);}
    main .journal_container .journal_pagination .swipe_arrow {top:210px;}
    main .journal_container .journal-slide .swiper-wrapper .j_2 .j_contents .text > p {width:65%;}
    main .journal_container .journal-slide .swiper-wrapper .j_2 .j_contents .text > p br {display:none;}
    main .journal_container .journal-slide .swiper-wrapper .j_4 .j_contents .text > p br {display:none;}
    main .journal_container .journal_area .journal_contents .j_img {height:300px;}
}
@media screen and (max-width:1200px){
    header > nav, header > .lnb > .lang {display:none;}
    header .lnb .m_nav, header .lnb .m_nav .m_nav_lnb > nav {display:block;}
    header > nav .gnb > li > .sub {display:block;}
    header .logo {left:20px;}
    header .lnb {right:20px;}
    /* main-brand font 크기 */
    main .brand .brand_wrap .brand_txt h2 {font-size:1.875rem;}
    main .brand .brand_wrap .brand_txt p {font-size:0.875rem;}
    main .shop .shop_wrap,
    main .store .store_wrap .store-slide .swiper-slide .bg,
    main .store .store_wrap, main .journal .journal_wrap,
    main .shop_container, main .store_container, main .journal_container, main .wallpaper_container {padding:0 20px;}
    main .store .store_wrap .store-slide .swiper-button-prev {width:80px; height:80px; left:36px;}
    main .store .store_wrap .store-slide .swiper-button-next {width:80px; height:80px; right:36px;}
    main .footer .btm, footer .btm {flex-flow:row wrap; justify-content:flex-start;}
    main .footer .btm > *, footer .btm > * {margin-bottom:16px;}
    .footer_wrap .top p br {display:none;}
    .footer_wrap .top {flex-flow:column-reverse nowrap; justify-content:flex-start;}
    main .footer .top .link, footer .top .link {margin-bottom:16px;}
    main .store .store_wrap .store-slide .swiper-slide {padding:40px 18px;}
    main .store .store_wrap .store-slide .swiper-slide .bg .store_name {font-size:1.25rem; display:flex; flex-flow:column nowrap;}
    main .store .store_wrap .store-slide .swiper-slide .bg .store_name span {margin-left:0; margin-top:6px;}
    main .store .store_wrap .store-slide .swiper-slide .bg .btm p {font-size:0.75rem; width:57%;}
    main .store .store_wrap .store-slide .swiper-slide .bg .btm p br {display:none;}
    main .store .store_wrap .store-slide .swiper-slide .bg .btm h3 {font-size:0.875rem;}
    main .footer, footer {padding:0 18px;}
    /* sub-shop */
    main .shop_container .pd_category {width:740px;}
    main .shop_container .pd_category > a {font-size:1rem;}
    main .shop_container .pd_category > span {height:16px;}
    main .shop_container .pd_wrap .num_option {margin-bottom:24px;}
    main .shop_container .pd_wrap .pd_container .pd_contents {
        width:calc((100% - (36px * 2)) / 3);
        margin-bottom:46px;
    }
    main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(4) {
        margin-bottom:46px;
    }
    /* sub-store */
    main .store_container .store_type li .store_category > a {font-size:1rem;}
    main .store_container .store_img > div {width:calc((100% - 20px) / 2);}
    main .store_container .store_img img {margin-bottom:20px;}
    /* sub-journal */
    main .journal_container .journal_pagination {width:calc(100% - 40px);}
    main .journal_container .journal_pagination .swipe_arrow {top:180px;}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-prev {width:40px; height:40px; left:-20px;}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-next {width:40px; height:40px; right:-20px;}
    main .journal_container .journal_type_search .journal_category > a {font-size:1rem; margin-right:36px;}
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text {height:100px;}
    main .journal_container .journal_area .journal_contents {width:calc((100% - 40px) / 3);}
    main .journal_container .journal_area .journal_contents .j_img {height:250px;}
}

@media screen and (max-width:1060px){
    /* main-brand 이미지&텍스트 배치 변경 */
    main .brand .brand_wrap {flex-flow:column nowrap; justify-content:flex-start;}
    main .brand .brand_wrap .img {height:50vh; width:100vw; overflow:hidden; display:flex; justify-content:center; align-items:center;}
    main .brand .brand_wrap .img img {height:auto; width:100%;}
    main .brand .brand_wrap .brand_txt {width:100%; height:50vh; display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;}
    main .brand .brand_wrap .brand_txt h2 {margin-bottom:30px;}
    main .store .store_wrap .store-slide .swiper-slide {background-size:cover;}
    main .store .store_wrap .store-slide .swiper-slide:hover {background-size:cover;}
    main .journal {}
    main .journal .journal_wrap {height:max-content; overflow:visible;}
    main .journal .journal_wrap .journal_contents {flex-flow:column nowrap; align-items:center;}
    main .journal .journal_wrap .journal_contents .j_main {width:100%; height:400px; overflow:hidden; display:flex; justify-content:center; align-items:center; margin-bottom:16px;}
    main .journal .journal_wrap .journal_contents .j_main > a {transform:translateY(45px);}
    main .journal .journal_wrap .journal_contents .sub-journal-slide {width:100%;}
    main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > a {width:auto;}
    main .journal .journal_wrap .journal_contents .j_main > a::after {bottom:0;}
    main .journal .journal_wrap .sub_link a {margin-top:0; padding-top:100px;}
    main .footer, footer {height:310px !important; margin-top:90px;}
    /* sub-shop */
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top h3,
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .btm .price {font-size:0.875rem;}
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top > p,
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .btm .amount {font-size:0.75rem;}
    /* sub-journal */
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text h3 {font-size:0.875rem;}
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text > p {font-size:0.75rem;}
    main .journal_container .journal_pagination .swiper-pagination {font-size:0.875rem;}
    main .journal_container .journal_area .journal_contents .text h3 {display:flex; flex-flow:column nowrap;}
    main .journal_container .journal_area .journal_contents .text .date_view {flex-flow:column nowrap; align-items:flex-end; width:90px;}
    main .journal_container .journal_area .journal_contents .text h3 span,
    main .journal_container .journal_area .journal_contents .text .date_view .date {margin-bottom:6px; margin-left:0;}
    main .journal_container .journal_area .journal_contents .text .date_view .view {margin-left:0;}
    main .journal_container .journal_area .journal_contents .j_img {height:220px;}
    main .journal_container .journal_pagination .swipe_arrow {top:150px;}
}

@media screen and (max-width:760px){
    header .logo a img {width:80%;}
    header .lnb {top:48px;}
    header .lnb > a {margin-right:16px;}
    header .lnb img {width:80%;}
    header .lnb .m_nav a img {width:24px; height:24px;}
    main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents {width:100%;}
    main .journal .journal_wrap .journal_contents .j_main .view.view_on {bottom:90px;}
    main .journal .journal_wrap .sub_link a {padding-top:110px; line-height:0; font-size:1.25rem;}
    main .footer {height:480px !important; margin-top:120px;}
    main .journal .journal_wrap .journal_contents .j_main {height:320px;}
    main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > p {font-size:0.75rem;}
    main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > p br {display:none;}
    main .footer, footer {margin-top:45px;}
    /* sub-shop */
    main .shop_container .pd_wrap .pd_container .pd_contents {
        width:calc((100% - 20px) / 2);
        margin-bottom:60px;
    }
    main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(4),
    main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(3) {
        margin-bottom:60px;
    }
    main .shop_container .pd_category {width:600px; flex-flow:row wrap; justify-content:center; margin-top:16px;}
    main .shop_container .pd_category > span {display:none;}
    main .shop_container .pd_category > a {margin-right:40px; margin-top:20px;}
    main .shop_container .pd_category > a:nth-last-child(3) {}
    main .shop_container .pd_category > a:last-child {margin-right:0;}
    /* sub-store */
    main .store_container .store_type li .store_category {justify-content:space-between;}
    main .store_container .store_type li .store_category > a {font-size:0.875rem; margin-right:0;}
    /* sub-store */
    main .store_container .store_main .store_title h2,
    main .store_container .store_main .store_title .location {font-size:1rem;}
    main .store_container .store_main {font-size:0.875rem;}
    main .store_container .store_img {margin-top:45px;}
    main .store_container .store_img > div {width:calc((100% - 16px) / 2);}
    main .store_container .store_img img {margin-bottom:16px;}
    /* sub-journal */
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text {
        flex-flow:column nowrap; height:150px; justify-content:flex-start;
    }
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text > p {text-align:left; width:100%; margin-top:10px;}
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text > p br {display:none;}
    main .journal_container .journal_area .journal_contents .text {
        flex-flow:column nowrap; align-items:flex-start;
    }
    main .journal_container .journal_area .journal_contents .text .date_view {align-items:flex-start; flex-flow:row nowrap; width:100%; justify-content:space-between; margin-top:10px;}
    main .journal_container .journal_area .journal_contents .text .date_view .date,
    main .journal_container .journal_area .journal_contents .text .date_view .view {font-size:0.75rem;}
    main .journal_container .journal_area .journal_contents {width:calc((100% - 20px) / 2); margin-bottom:45px;}
    main .journal_container .journal_type_search {flex-flow:column nowrap; align-items:center;}
    main .journal_container .journal_type_search .journal_category {margin-bottom:24px;}
    main .journal_container .journal_type_search .journal_category > a:last-child {margin-right:0;}
    main .journal_container .journal_type_search #j_search_frm .j_search_wrap input[name^=journal] {
        width:calc(100vw - 40px); padding:10px 16px;
    }
    main .journal_container .journal_type_search #j_search_frm .j_search_wrap input[name^=journal]::placeholder {font-size:0.75rem;}
    main .journal_container .journal_pagination .swiper-pagination {display:none;}
    main .journal_container .journal_pagination .swipe_arrow {top:-20px;}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-prev {left:90%; width:30px; height:30px;}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-next {right:0; width:30px; height:30px;}
    main .journal_container .page a {font-size:0.875rem;}
}

@media screen and (max-width:650px){
    main .shop_container .pd_category {width:100%;}
    main .shop_container .pd_category > a {font-size:0.875rem; margin-right:34px;}
    /* sub-store */
    main .store_container .store_type li .store_category {justify-content:flex-start;}
    main .store_container .store_type li .store_category > a {margin-right:16px; margin-top:20px;}
    /* sub-journal */
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-prev {left:87%;}
}

@media screen and (max-width:552px){
    main .shop_container .pd_category > a {margin-right:30px;}
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top {
        flex-flow:column nowrap; align-items:flex-start;
    }
    main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top h3 {
        margin-bottom:6px;
    }
}

@media screen and (max-width:540px){
    main .shop_container .pd_category > a {margin-right:16px;}
}

@media screen and (max-width:500px){
    /* header */
    header .logo a img {width:65%;}
    header .lnb {top:44px;}
    header .lnb > a {margin-right:8px;}
    header .lnb img {width:70%;}
    header .lnb .m_nav a img {width:24px; height:24px;}
    /* sub-shop */
    main .container .title {font-size:1.125rem; padding-top:0;}
    main .container > p {font-size:0.75rem; padding:16px 0;}
    main .shop_container .pd_category {justify-content:flex-start;}
    main .shop_container .pd_wrap .num_option h2, main .shop_container .pd_wrap .num_option h2 span {font-size:1rem;}
    main .shop_container .pd_wrap .num_option .option li a {font-size:0.75rem;}
    /* m_nav */
    .m_nav .m_nav_wrap .m_nav_lnb > nav .gnb > li > a {font-size:1rem;}
    /* sub-store */
    main .store_container .store_type li > a {width:170px;}
    main .store_container .store_type li:first-child > a {margin-right:16px;}
    /* sub-journal */
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-prev {}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-next {}
    main .journal_container h2 {font-size:1rem;}
    main .journal_container .journal-slide .swiper-wrapper .swiper-slide .j_contents .text {height:max-content;}
    main .journal_container .journal_area .journal_contents .text h3 {font-size:0.8rem;}
    main .journal_container .journal_area .journal_contents .j_img {height:150px;}
    main .journal_container .journal_area .journal_contents {width:calc((100% - 16px) / 2);}
    main .journal_container .journal_type_search .journal_category > a {font-size:0.875rem;}
}

@media screen and (max-width:390px){
    /* sub-store */
    main .store_container .store_main .store_title h2,
    main .store_container .store_main .store_title .location {font-size:0.75rem;}
    main .store_container .store_main > p {font-size:0.755rem;}
    main .store_container .store_main .store_video {margin:18px 0;}
    main .store_container .store_img {flex-flow:column nowrap;}
    main .store_container .store_img > div {width:100%;}
    body {width:100vw; overflow-x:hidden;}
    main .journal_container .journal_pagination .swipe_arrow .swiper-button-prev {left:82%;}
    main .journal_container .page a {margin-right:10px;}
    main .journal_container .page, main .shop_container .page {margin-bottom:45px;}
    main .journal_container .journal_type_search {margin-top:45px;}
    main .journal_container .journal_type_search .journal_category > a {margin-right:20px;}
}