/* shop header 디자인 수정 */
header {background-color:#FDFBF4; height:130px;}
header .logo a img, header .lnb > a {filter:invert(0);}
header .lnb .m_nav > a {filter:invert(1);}
header nav .gnb > li > a {color:#282828;}
header nav .gnb > li:first-child > a::after {width:100%;}
header nav .gnb > li > a::after {background-color:#282828;}

/* main */
main {padding-top:130px;}
main .shop_container {max-width:1640px; margin:0 auto;}
main .shop_container .title {font-size:1.5rem; font-weight:700; letter-spacing:0.2px; padding-top:90px;}
main .shop_container > p {line-height:1.5; font-weight:500; padding:20px 0; border-bottom:1px solid #e0e0e0; color:#5F5F5F;}
main .shop_container .pd_category {
    margin:46px auto 90px; text-align:center; display:flex; justify-content:space-between; width:980px;
}
main .shop_container .pd_category > a {font-size:1.25rem; letter-spacing:0.2px; color:#9D9D9D; transition:color 0.5s;}
main .shop_container .pd_category > a:hover {color:#485131;}
main .shop_container .pd_category > span {
    width:2px; height:21px; background-color:#9d9d9d; display:inline-block;
}
main .shop_container .pd_wrap {}
main .shop_container .pd_wrap .num_option {display:flex; justify-content:space-between; align-items:center; margin-bottom:36px;}
main .shop_container .pd_wrap .num_option h2 {font-size:1.25rem; font-weight:700; color:#485131;}
main .shop_container .pd_wrap .num_option h2 span {font-weight:700; color:#000; margin-left:20px; font-size:1.25rem;}
main .shop_container .pd_wrap .num_option .option {display:flex; justify-content:flex-end; align-items:center;}
main .shop_container .pd_wrap .num_option .option li a {font-size:0.875rem; font-weight:500; color:#9d9d9d; margin-left:16px; transition:color 0.5s;}
main .shop_container .pd_wrap .num_option .option li a:hover {color:#485131;}
main .shop_container .pd_wrap .num_option .option li:first-child a {font-weight:700; color:#485131;}
/* 제품 나열 디자인 */
main .shop_container .pd_wrap .pd_container {display:flex; flex-flow:row wrap; justify-content:space-between;}
main .shop_container .pd_wrap .pd_container .pd_contents {
    width:calc((100% - (36px * 3)) / 4);
    margin-bottom:76px;
}
main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(4),
main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(3),
main .shop_container .pd_wrap .pd_container .pd_contents:nth-last-child(2),
main .shop_container .pd_wrap .pd_container .pd_contents:last-child {margin-bottom:0;}
main .shop_container .pd_wrap .pd_container .pd_contents > p {width:100%; overflow:hidden; display:flex; justify-content:center; align-items:center;}
main .shop_container .pd_wrap .pd_container .pd_contents > p img {width:100%; transition:transform 0.5s;}
main .shop_container .pd_wrap .pd_container .pd_contents > p img:hover {transform:scale(1.05);}
/* 제품 정보 폰트 디자인 */
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info {display:flex; flex-flow:column nowrap;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top {display:flex; justify-content:space-between; align-items:center; margin:16px 0;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top h3 {font-weight:700; letter-spacing:0.2px; line-height:1.2;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .top > p {font-size:0.875rem; font-weight:500; color:#5F5F5F; text-align:right; text-wrap:nowrap;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .btm {display:flex; justify-content:space-between; align-items:center;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .btm .price {font-weight:700; color:#5F5F5F;}
main .shop_container .pd_wrap .pd_container .pd_contents .pd_info .btm .amount {font-size:0.875rem; font-weight:500; color:#5F5F5F;}
/* 하단 페이지 숫자 디자인 */
main .shop_container .page {display:flex; justify-content:center; align-items:center; margin:90px auto;}
main .shop_container .page > a {margin-right:18px; color:#959595;}
main .shop_container .page > a:last-child {margin-right:0; transform:rotate(-180deg) translateY(2.5px);}