body {width:100vw; overflow-x:hidden;}
/* 공통 설정 */
main {background-color:#FDFBF4;}
main .first .first_wrap, main .brand .brand_wrap, main .shop .shop_wrap, main .store .store_wrap, main .journal .journal_wrap {height:100vh; overflow:hidden;}
/* title 공통 디자인 */
main .sub_link {border-bottom:2px solid #000; margin:130px 0 16px;}
main .sub_link .title {
    font-size:1.5rem; font-weight:700; letter-spacing:0.2px;
    display:inline-flex; align-items:center; line-height:60px;
}
main .title::after {
    content:''; display:inline-block; margin-left:8px; opacity:0;
    width:30px; height:30px; background-image:url(../images/arrow_right.svg);
    background-repeat:no-repeat;
    transition:margin-left 0.3s, opacity 0.3s;
}
main .title.arrow::after {margin-left:16px; opacity:1;}
/*------------------ 1. first ------------------*/
main .first .first_wrap {
    position:relative;
    display:flex; align-items:center; justify-content:center;
}
/* main #fullpage .first .first_wrap video {height:100%;} */

/* mouse 스크롤다운 아이콘 디자인 */
main #fullpage .first .first_wrap .mouse_wrap {
    height:max-content; position:absolute; bottom:100px; width:100vw; display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; opacity:0.9;
}
main #fullpage .first .first_wrap .mouse_wrap .mouse {
    width:30px; height:42px; border:2px solid #fff; border-radius:15px; display:flex; justify-content:center;
}
main #fullpage .first .first_wrap .mouse_wrap .mouse .wheel {
    width:2px; height:8px; background-color:#fff; border-radius:20px; margin-top:10px;
    animation:up_down 1.2s linear both infinite, wheel_opa 1.2s linear both infinite;
}
main #fullpage .first .first_wrap .mouse_wrap div:last-child {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; margin-top:10px;
}
main #fullpage .first .first_wrap .mouse_wrap div > span {
    background-image:url(../images/mouse_arrow.svg);
    width:16px; height:8px; display:inline-block; background-repeat:no-repeat;
    margin-bottom:3px;
}
main .first .first_wrap .mouse_wrap div .unu {animation:opa 1.2s linear both infinite;}
main .first .first_wrap .mouse_wrap div .doi {animation:opa 1.2s linear both infinite 0.2s;}
main .first .first_wrap .mouse_wrap div .trei {margin-bottom:0; animation:opa 1.2s linear both infinite 0.4s;}
/* e:mouse 스크롤다운 */
/*------------------ 2. brand ------------------*/
main .brand {}
main .brand .brand_wrap {
    display:flex; align-items:center; justify-content:space-between;
    max-width:1640px; margin:0 auto;
}
main .brand .brand_wrap .img {height:100vh;}
main .brand .brand_wrap .img img {height:100%;}
main .brand .brand_wrap .brand_txt {text-align:center; width:60%;}
main .brand .brand_wrap .brand_txt h2 {
    font-size:3rem; font-weight:700; text-transform:uppercase; line-height:1.2; margin-bottom:60px;
}
main #fullpage .brand .brand_wrap .brand_txt p {letter-spacing:-0.2px; line-height:2.0;}
/*------------------ 3. shop ------------------*/
main .shop {}
main .shop .shop_wrap {max-width:1640px; margin:0 auto;}
main .shop .shop_wrap .shop-slide {max-width:1640px; overflow:hidden;}
main .shop .shop_wrap .shop-slide .swiper-wrapper {}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide {}
/* product_contents 공통 디자인 */
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents {
    display:inline-block; margin-bottom:10px;
}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents h2 {
    font-size:1.125rem; font-weight:700; letter-spacing:0.2px;
    line-height:40px; border-bottom:1px solid #9d9d9d; width:100%;
}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents h3 {
    font-weight:500; color:#9d9d9d; line-height:39px;
}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents > p {width:auto; height:500px; overflow:hidden;}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents > p > img {width:100%; transition:transform 0.5s;}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents > p > img:hover {transform:scale(1.05);}
main .shop .shop_wrap .shop-slide .swiper-wrapper .swiper-slide .product_contents p:last-child {
    line-height:1.5; font-size:0.875rem; color:#5f5f5f; padding:10px 0; height:max-content;
}
/*------------------ 4. store ------------------*/
main .store {background-color:#0E0E0E; position:relative; overflow:hidden;}
main .store .store_wrap {max-width:1640px; margin:0 auto;}
main .store .store_wrap .sub_link {border:0;}
main .store .store_wrap .sub_link .title {color:#fff;}
main .store .store_wrap .title::after {
    filter:invert(1);
}
/* store-swiper */
main .store .store_wrap .store-slide {
    position:absolute; z-index:150;
    /* height:580px; width:calc(100% + 280px); */
    width:100vw; height:580px; left:0; bottom:125px;
}
main .store .store_wrap .store-slide .swiper-slide {
    padding:40px 70px; transition:background-size 1s;
}
main .store .store_wrap .store-slide .swiper-slide:hover {
    background-size:105%;
}
main .store .store_wrap .store-slide .swiper-slide::after {
    content:''; display:inline-block; width:100vw; height:100%; z-index:99;
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); left:0; top:0; position:absolute;
}
main .store .store_wrap .store-slide .swiper-slide .bg {
    max-width:1640px; height:100%; display:flex; flex-flow:column nowrap; justify-content:flex-end;
    position:relative; z-index:150; margin:0 auto;
}
main .store .store_wrap .store-slide .swiper-slide .bg .store_name {
    font-size:1.5rem; font-weight:700; letter-spacing:0.2px; color:#cbcbcb;
    margin-bottom:16px;
}
main .store .store_wrap .store-slide .swiper-slide .bg .store_name span {
    font-weight:500; font-size:1.0rem; margin-left:16px; color: #9d9d9d;;
}
main .store .store_wrap .store-slide .swiper-slide .bg .btm {
    display:flex; justify-content:space-between; align-items:flex-end;
}
main .store .store_wrap .store-slide .swiper-slide .bg .btm h3 {
    font-weight:700; color:#fff; line-height:1.5;
}
main .store .store_wrap .store-slide .swiper-slide .bg .btm p {
    font-size:0.875rem; color:#fff; line-height:1.5; text-align:right;
}
main .store .store_wrap .store-slide .store_1 {
    background-image:url(../images/store_seogyo.jpg); background-repeat:no-repeat;
    background-position:center; background-size:100%;
}
main .store .store_wrap .store-slide .store_2 {
    background-image:url(../images/store_dosan.jpg); background-repeat:no-repeat;
    background-position:center; background-size:100%;
}
main .store .store_wrap .store-slide .store_3 {
    background-image:url(../images/store_mapo.jpg); background-repeat:no-repeat;
    background-position:center; background-size:100%;
}
/* swipe arrow 디자인 변경 */
main .store .store_wrap .store-slide .swiper-button-prev {
    content:''; display:inline-block; opacity:0.5;
    background-image:url(../images/big_arrow.svg);
    width:93px; height:93px; background-repeat:no-repeat; background-size:cover;
    color:transparent; left:70px; transform:translateY(-16px);
    transition:opacity 0.3s;
}
main .store .store_wrap .store-slide .swiper-button-prev:hover,
main .store .store_wrap .store-slide .swiper-button-next:hover {opacity:0.9;}
main .store .store_wrap .store-slide .swiper-button-next {
    content:''; display:inline-block; opacity:0.5;
    background-image:url(../images/big_arrow.svg);
    width:93px; height:93px; background-repeat:no-repeat; background-size:cover;
    color:transparent; right:70px; transform:rotate(-180deg) translateY(16px);
    transition:opacity 0.3s;
}
/*------------------ 5. journal ------------------*/
main .journal .journal_wrap {max-width:1640px; margin:0 auto;}
main .journal .journal_wrap .sub_link {border:0;}
main .journal .journal_wrap .journal_contents {display:flex; justify-content:space-between; align-items:center;}
/* journal-왼쪽 */
main .journal .journal_wrap .journal_contents .j_main {
    width:38%; display:flex; position:relative;
    flex-flow:column nowrap;
}
main .journal .journal_wrap .journal_contents .j_main > a {}
main .journal .journal_wrap .journal_contents .j_main > a::after {
    content:''; display:inline-block; width:100%; height:0; opacity:0; transition:height 0.6s cubic-bezier(0, 0, 0.1, 1.0), opacity 0.6s cubic-bezier(0, 0, 0.1, 1.0);
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)); position:absolute; left:0; bottom:57px; z-index:150;
}
main .journal .journal_wrap .journal_contents .j_main > a.display::after {height:50%; opacity:1;}
main .journal .journal_wrap .journal_contents .j_main .view {
    display:flex; align-items:center; position:absolute; right:27px; bottom:75px;
    z-index:150; opacity:0; transition:bottom 0.4s ease-out, opacity 0.4s ease-out;
}
main .journal .journal_wrap .journal_contents .j_main .view.view_on {bottom:80px; opacity:1;}
main .journal .journal_wrap .journal_contents .j_main .view > p {color:#d9d9d9; font-size:0.875rem; font-weight:500;}
main .journal .journal_wrap .journal_contents .j_main .view > p:last-child {width:18px; margin-left:8px;}
main .journal .journal_wrap .journal_contents .j_main .view > p > img {width:100%; filter:invert(1);}
main .journal .journal_wrap .journal_contents .j_main .j_text {display:flex; justify-content:space-between; padding:10px 0;}
main .journal .journal_wrap .journal_contents .j_main .j_text > h2 {font-size:0.875rem; font-weight:700; line-height:1.2;}
main .journal .journal_wrap .journal_contents .j_main .j_text > p {font-size:0.875rem; line-height:1.2; text-align:right;}
main .journal .journal_wrap .journal_contents .j_main a > img {width:100%;}
/* e:journal-왼쪽 */
main .journal .journal_wrap .journal_contents .sub-journal-slide {width:55%; margin:0;}
main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item {
    width:100%; overflow:hidden;
}
main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > a {
    display:inline-block; width:430px; height:290px; overflow:hidden; display:flex; justify-content:center; align-items:center;
}
main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > a > img {height:100%;}
main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > h2 {font-size:0.875rem; font-weight:700; line-height:1.2; margin-bottom:10px;}
main .journal .journal_wrap .journal_contents .sub-journal-slide .swiper-slide .j_sub_item > p {font-size:0.875rem; line-height:1.5; text-align:left; margin:10px 0 18px; color:#5f5f5f;}
/*------------------ 6. footer ------------------*/
main .footer {height:212px !important; max-width:1780px; margin:0 auto; display:flex; flex-flow:column nowrap;}
main .footer .footer_wrap {
    padding:40px 0; border-top:1px solid #e0e0e0; display:flex; flex-flow:column nowrap;
}
main .footer .footer_wrap .top {
    display:flex; justify-content:space-between; align-items:flex-start;
    max-width:1780px;
}
main .footer .top .slogan {display:flex; align-items:flex-start;}
main .footer .top .slogan h2 {font-size:0.875rem; color:#282828; line-height:1.7; margin-right:60px;}
main .footer .top .slogan p {font-size:0.75rem; letter-spacing:-0.2px; line-height:2.0; color:#5F5F5F;}
main .footer .top .link a {margin-left:16px; transition:filter 0.5s;}
main .footer .top .link a:first-child {margin-left:0;}
main .footer .top .link a:hover {filter:brightness(50%);}
main .footer .top .link a img {}
main .footer .btm {color:#282828; display:flex; align-items:center;  max-width:1780px; margin-top:40px;}
main .footer .btm a {font-size:0.625rem; font-weight:700; margin-right:6px;}
main .footer .btm p {font-size:0.625rem; margin-right:6px;}
main .footer .btm p em {font-size:0.625rem; font-weight:500; margin-right:3px;}