/* wallpaper header 디자인 수정 */
header .logo a img, header .lnb > a {filter:invert(0);}
header nav .gnb > li > a {color:#282828;}
header nav .gnb > li:last-child > a::after {width:100%;}
header nav .gnb > li > a::after {background-color:#282828;}
/* main */
main .wallpaper {max-width:1640px; margin:0 auto; position:relative;}
main .wallpaper .title {font-size:1.5rem; font-weight:700; letter-spacing:0.2px; padding-top:224px;}
main .wallpaper > p {font-weight:500; padding:20px 0; border-bottom:1px solid #e0e0e0; color:#5F5F5F;}
/* 배경화면 이미지 모음 */
main .wallpaper .wp_container {
    margin-top:90px; display:flex; flex-flow:row wrap; justify-content:space-between; align-content:flex-start;
}
main .wallpaper .wp_container .wp_contents {width:calc((100% - 120px) / 3); margin-bottom:90px;}
main .wallpaper .wp_container .wp_contents > p {height:690px; overflow:hidden; display:flex; justify-content:space-between; align-items:flex-end;
}
main .wallpaper .wp_container .wp_contents > p > img {width:100%; transition:transform 0.5s;}
main .wallpaper .wp_container .wp_contents > p > img:hover {transform:scale(1.05);}
main .wallpaper .wp_container .wp_contents .text {margin-top:16px; display:flex; justify-content:space-between; align-items:center;}
main .wallpaper .wp_container .wp_contents .text h2 {font-size:1.125rem; font-weight:500;}
main .wallpaper .wp_container .wp_contents .text > p {font-size:0.875rem; font-weight:500; color: #9d9d9d;;}